absl-py==0.11.0
appnope==0.1.0
astunparse==1.6.3
atari-py==0.2.6
backcall==0.2.0
baselines==0.1.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
cmake==3.18.4.post1
configparser==5.0.1
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
docker-pycreds==0.4.0
filelock==3.0.12
future==0.18.2
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.11
glcontext==2.2.0
glfw==1.12.0
google-auth-oauthlib==0.4.2
google-auth==1.23.0
google-pasta==0.2.0
grpcio==1.33.2
gym3==0.3.3
gym==0.17.3
h5py==2.10.0
idna==2.10
imageio-ffmpeg==0.3.0
imageio==2.9.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
jedi==0.17.2
joblib==0.17.0
jupyter-client==6.1.7
jupyter-core==4.7.0
keras-preprocessing==1.1.2
kiwisolver==1.3.0
markdown==3.3.3
matplotlib==3.3.2
moderngl==5.6.2
mpi4py==3.0.3
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.46
opt-einsum==3.3.0
pandas==1.1.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.1.1
procgen==0.10.4
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybullet==3.0.7
pycparser==2.20
pyglet==1.5.0
pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pyyaml==5.3.1
pyzmq==20.0.0
requests-oauthlib==1.3.0
requests==2.25.0
rsa==4.6
scipy==1.5.2
sentry-sdk==0.19.5
setuptools==49.2.0
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
stable-baselines3==0.10.0
subprocess32==3.5.4
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorflow-estimator==2.3.0
tensorflow==2.3.1
termcolor==1.1.0
torch==1.7.0
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.10.12
watchdog==1.0.1
wcwidth==0.2.5
werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1